@charset "utf-8";

/*
 * Color definitions for website. 
 * Taken from KDE Breeze Light (https://develop.kde.org/hig/style/color/light/) 
 * and KDE Breeze Dark (https://develop.kde.org/hig/style/color/dark/) 
 * color schemes.
 */

:root {
  --PaperWhite: #fcfcfc;
  --CardboardGray: #eff0f1;
  --LazyGray: #afb0b3;
  --AlternateGray: #bdc3c7;
  --CoastalFog: #7f8c8d;
  --IconGray: #4d4d4d;
  --CharcoalGray: #31363b;
  --ShadeBlack: #232629;

  --DangerRed: #ed1515;
  --IconRed: #da4453;
  --Pimpinella: #e74c3c;
  --BewareOrange: #f67400;
  --IconYellow: #fdbc4b;
  --SunbeamYellow: #c9ce3b;
  --NobleFir: #27ae60;
  --VerdantGreen: #11d116;
  --HoverBlue: #93cee9;
  --HyperBlue: #3daee6;
  --PlasmaBlue: #3daee9;
  --AbyssBlue: #2980b9;

/*
 * More nord theme colors from
 * https://www.nordtheme.com/docs/colors-and-palettes
 */
  --Night1: #2e3440;
  --Night2: #3b4252;
  --Night3: #434c5e;
  --Night4: #4c566a;

  --Snow1: #d8dee9;
  --Snow2: #e5e9f0;
  --Snow3: #eceff4;

  --Frost1: #8fbcbb;
  --Frost2: #88c0d0;
  --Frost3: #81a1c1;
  --Frost4: #5e81ac;

  --AuroraRed: #bf616a;
  --AuroraOrange: #d08770;
  --AuroraYellow: #ebcb8b;
  --AuroraGreen: #a3be8c;
  --AuroraPurple: #b48ead;
}
