@charset "utf-8";

:root {
  /* color definitions */
  --PaperWhite: #fcfcfc;
  --CardboardGray: #eff0f1;
  --LazyGray: #afb0b3;
  --AlternateGray: #bdc3c7;
  --CoastalFog: #7f8c8d;
  --IconGray: #4d4d4d;
  --CharcoalGray: #31363b;
  --ShadeBlack: #232629;

  --DangerRed: #ed1515;
  --IconRed: #da4453;
  --Pimpinella: #e74c3c;
  --BewareOrange: #f67400;
  --IconYellow: #fdbc4b;
  --SunbeamYellow: #c9ce3b;
  --NobleFir: #27ae60;
  --VerdantGreen: #11d116;
  --HoverBlue: #93cee9;
  --HyperBlue: #3daee6;
  --PlasmaBlue: #3daee9;
  --AbyssBlue: #2980b9;
}
