@charset "utf-8";
@import "measures.css";

html {
  font-family: Arial, Helvetica, sans-serif;

  background-color: var(--ColorBackgroundBase);
  color: var(--ColorTextBase);
}

body {
  max-width: var(--PageWidth);
  margin: auto;
  padding: var(--LargePadding);
}

header, footer, figure {
  border-radius: var(--MediumPadding);
  padding: var(--SmallPadding);

  background-color: var(--ColorBackgroundAlternate);
}

figure {
  border-radius: var(--MediumPadding);
  padding: var(--LargePadding)
}

section {
  margin-left: var(--SmallIndent);
  margin-right: var(--SmallIndent);
}

a {
  color: var(--ColorTextLink)
}

li::marker {
  color: var(--ColorTextAlternate);
}

.centered {
  display: block;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(auto-fit, auto);
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: var(--MediumPadding);
}

.text-alternate {
  font-weight: bold;
  color: var(--ColorTextAlternate);
}

.text-warn {
  font-weight: bold;
  color: var(--ColorWarn);
}

.text-danger {
  font-weight: bold;
  color: var(--ColorDanger);
}

.text-info {
  font-weight: bold;
  color: var(--ColorInfo);
}

.text-positive {
  font-weight: bold;
  color: var(--ColorPositive);
}

.box-warn {
  border-radius: var(--SmallPadding);
  padding: var(--MediumPadding);
  background-color: var(--ColorWarn);
  color: var(--ColorTextDark);
}

.box-danger {
  border-radius: var(--SmallPadding);
  padding: var(--MediumPadding);
  background-color: var(--ColorDanger);
  color: var(--ColorTextDark);
}

.box-info {
  border-radius: var(--SmallPadding);
  padding: var(--MediumPadding);
  background-color: var(--ColorInfo);
  color: var(--ColorTextDark);
}

.box-positive {
  border-radius: var(--SmallPadding);
  padding: var(--MediumPadding);
  background-color: var(--ColorPositive);
  color: var(--ColorTextDark);
}
