@charset "utf-8";
@import "measures.css";

/*
 * Definitions for various website pieces. 
 */

/* Tag definitions */
html {
  font-family: Arial, Helvetica, sans-serif;

  background-color: var(--ColorBackgroundBase);
  color: var(--ColorTextBase);
}

body {
  max-width: var(--PageWidth);
  margin: auto;
  padding: var(--LargePadding);
}

a {
  color: var(--ColorTextLink)
}

li::marker {
  color: var(--ColorTextAlternate);
}

/* Class definitions */
.text-centered {
  display: block;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(auto-fit, auto);
  grid-template-columns: repeat(auto-fit, minmax(var(--MediumBlock), auto));
  gap: var(--MediumPadding);
}

.text-alternate {
  font-weight: bold;
  color: var(--ColorTextAlternate);
}

.text-warn {
  font-weight: bold;
  color: var(--ColorWarn);
}

.text-danger {
  font-weight: bold;
  color: var(--ColorDanger);
}

.text-info {
  font-weight: bold;
  color: var(--ColorInfo);
}

.text-positive {
  font-weight: bold;
  color: var(--ColorPositive);
}

.box-rounded {
  border-radius: var(--SmallPadding);
  padding: var(--MediumPadding);
}

.bg-warn {
  background-color: var(--ColorWarn);
  color: var(--ColorTextDark);
}

.bg-danger {
  background-color: var(--ColorDanger);
  color: var(--ColorTextDark);
}

.bg-info {
  background-color: var(--ColorInfo);
  color: var(--ColorTextDark);
}

.bg-positive {
  background-color: var(--ColorPositive);
  color: var(--ColorTextDark);
}

.bg-white {
  background-color: var(--ColorBackgroundWhite);
  color: var(--ColorTextDark)
}
