@charset "utf-8";

/*
Measure definitions in Rems. 
*/

:root {
    --SmallPadding: calc(2rem / 16);
    --MediumPadding: calc(5rem / 16);
    --LargePadding: calc(7rem / 16);

    --SmallIndent: calc(27rem / 16);

    --MediumBlock: calc(270rem / 16);

    --PageWidth: calc(2000rem / 16);
}
