@charset "utf-8";
@import "../colors.css";

/*
 * Dark theme.
 * Taken from KDE Breeze Dark (https://develop.kde.org/hig/style/color/dark/).
 */

:root {
  --ColorDanger: var(--AuroraRed);
  --ColorWarn: var(--AuroraYellow);
  --ColorInfo: var(--Frost2);
  --ColorPositive: var(--AuroraGreen);

  --ColorTextBase: var(--Snow1);
  --ColorTextAlternate: var(--Snow2);
  --ColorTextLink: var(--Frost3);
  --ColorTextDark: var(--Night1);

  --ColorBackgroundBase: var(--Night2);
  --ColorBackgroundAlternate: var(--Night3);

  --ColorBackgroundWhite: var(--Snow2);
}
