@charset "utf-8";
@import "../colors.css";

/*
Dark theme.
Taken from KDE Breeze Dark (https://develop.kde.org/hig/style/color/dark/).
*/

:root {
  --ColorDanger: var(--IconRed);
  --ColorWarn: var(--IconYellow);
  --ColorInfo: var(--PlasmaBlue);
  --ColorPositive: var(--NobleFir);

  --ColorTextBase: var(--CardboardGray);
  --ColorTextAlternate: var(--AlternateGray);
  --ColorTextLink: var(--HoverBlue);
  --ColorTextDark: var(--CharcoalGray);

  --ColorBackgroundBase: var(--CharcoalGray);
  --ColorBackgroundAlternate: var(--ShadeBlack);
}
