@charset "utf-8";
@import "../colors.css";

/*
 * Light theme.
 */

:root {
  --ColorDanger: var(--AuroraRed);
  --ColorWarn: var(--AuroraYellow);
  --ColorInfo: var(--Frost2);
  --ColorPositive: var(--AuroraGreen);

  --ColorTextBase: var(--Night1);
  --ColorTextAlternate: var(--Night2);
  --ColorTextLink: var(--Frost3);
  --ColorTextDark: var(--Night1);

  --ColorBackgroundBase: var(--snow3);
  --ColorBackgroundAlternate: var(--snow1);

  --ColorBackgroundWhite: var(--Snow2);
}
